.thumb {
    background-color: #fff;
    width: 100%;
    height: 240px;
    float: left;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: default !important;
    color: black !important;
    margin: auto;
    text-align: center;

}

canvas {
    /*width: inherit !important;*/
    /*height: 240px !important;*/
    text-align: center;
    align-self: center;
}

.buttons {
    padding: 20px;
    margin: auto;
    display: block;
    float: left;
}

.thumb-c {
    width: 90%;
    background-color: #fff;
    height: 240px;
    float: left;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    text-align: center;
    top: 50%;
    color: black !important;
    margin: auto;
    text-align: center;

}

.slide {
    display: block;
    position: relative;
    margin: 10px;
    float: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
    cursor: default !important;
    text-align: center;

}